# remove this after vold can create directory for us.
on property:sys.user.0.ce_available=true
    mkdir /data/misc_ce/0/storaged

service storaged /system/bin/storaged
    class main
    priority 10
    file /d/mmc0/mmc0:0001/ext_csd r
    writepid /dev/cpuset/system-background/tasks
    user root
    group package_info
