on property:ro.debuggable=1
    setprop llk.enable ${ro.llk.enable:-0}
    setprop khungtask.enable ${ro.khungtask.enable:-1}

on property:ro.llk.enable=eng
    setprop llk.enable ${ro.debuggable:-0}

on property:ro.khungtask.enable=eng
    setprop khungtask.enable ${ro.debuggable:-0}

service llkd-1 /system/bin/llkd
    class late_start
    disabled
    user llkd
    group llkd readproc
    capabilities KILL IPC_LOCK SYS_PTRACE DAC_OVERRIDE SYS_ADMIN
    file /dev/kmsg w
    file /proc/sysrq-trigger w
    task_profiles ServiceCapacityLow
