on init && property:ro.prefetch_boot.enabled=true
    start prefetch

service prefetch /system/bin/prefetch start
    class main
    user root
    group root system
    disabled
    oneshot

on property:prefetch_boot.record=true
    start prefetch_record

service prefetch_record /system/bin/prefetch record --duration ${ro.prefetch_boot.duration_s:-0}
    class main
    user root
    group root system
    disabled
    oneshot

on property:prefetch_boot.replay=true
    start prefetch_replay

service prefetch_replay /system/bin/prefetch replay --io-depth ${ro.prefetch_boot.io_depth:-2} --max-fds ${ro.prefetch_boot.max_fds:-128}
    class main
    user root
    group root system
    disabled
    oneshot
