# Adjustments to the out-of-memory killer, for devices that are
# tight on memory.  These should not be used if not needed, as they
# can result in more paging.

on early-boot

    setprop ro.FOREGROUND_APP_MEM 1536
    setprop ro.VISIBLE_APP_MEM 2048
    setprop ro.PERCEPTIBLE_APP_MEM 2048
    setprop ro.HEAVY_WEIGHT_APP_MEM 2048
    setprop ro.SECONDARY_SERVER_MEM 4096
    setprop ro.BACKUP_APP_MEM 4096
    setprop ro.HOME_APP_MEM 4096
    setprop ro.HIDDEN_APP_MEM 5120
    setprop ro.EMPTY_APP_MEM 6144

on boot

    write /sys/module/lowmemorykiller/parameters/minfree 1536,2048,3072,4096,5120,6144
