on property:persist.mmc.max_read_speed=*
    write /sys/block/mmcblk0/max_read_speed ${persist.mmc.max_read_speed}

on property:persist.mmc.max_write_speed=*
    write /sys/block/mmcblk0/max_write_speed ${persist.mmc.max_write_speed}

on property:persist.mmc.cache_size=*
    write /sys/block/mmcblk0/cache_size ${persist.mmc.cache_size}

on early-init && property:ro.product.debugfs_restrictions.enabled=true
    mount debugfs debugfs /sys/kernel/debug
    chmod 0755 /sys/kernel/debug

on property:sys.boot_completed=1 && property:ro.product.debugfs_restrictions.enabled=true && \
   property:persist.dbg.keep_debugfs_mounted=""
   umount /sys/kernel/debug
