on boot
    mkdir /data/misc/metrics 0770 system system

service metrics_daemon /system/bin/metrics_daemon --uploader -nodaemon
    class late_start
    user system
    group system dbus inet
    seclabel u:r:brillo:s0
